{{> header}}
<div class="container_404">
  <div class="pnf">
    <h1 class="pnf_heading"><span>404</span> Page not Found</h1>
    <a href="/" class="pnf_text">&larr; {{errorMessage}}</a>
  </div>
</div>
{{> footer}}