{{> header }}
<div class="container about">
    <div class="blog">
    <h1 class="about_heading">{{title}}</h1>
    <div class="blog_body">
        <p class="sub_heading">Hi, there!</p>
        <p class="body_text">
            This is a project I created from scratch to practice my Node.js, Vanilla Javascript, and HTML/CSS skills.
            This Web Application is powered by both <a href="https://www.mapbox.com/" class="about_links" target="_blank">Mapbox's Geocoding</a> and <a href="https://weatherstack.com/" class="about_links" target="_blank">Weatherstack</a>.
            It was a really enjoyable small project that didn't take more than 5 days to make but it was a nice experience. I hope you feel curious enough to check out my other <a href="#" class="about_links">projects</a>  :) 
        </p>
    </div>
    </div>
</div>
{{> footer}}