<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
  </body>
<footer>
  <div class="credits">
    <p>Vectors created by <a href="https://www.freepik.com/vectors/mockup" class="foot_link" target="_blank">starline</a></p>
    <p>Icons by <a href="https://ionic.io/ionicons" class="foot_link" target="_blank">ionicons</a></p>
  </div> 
  <img src="/img/wa_logo.png" alt="logo" class="footer_logo">
  <div class="copyright">
  <p>Created by <a href="#" class="foot_link">gnox</a> &copy; {{year}}</p> 
  </div>
</footer>
</html>